<div
    class="not-prose mb-5 mt-2 text-xs font-semibold uppercase tracking-wide text-gray-500"
>
    <span>
        <time datetime="{{ .Date }}">
            {{ .Date.Format "Mon, 2 January 2006" }}
        </time>
    </span>

    {{ $tags := .Params.tags }}
    {{ if $tags }}
        <span class="ml-1">
            Tags:
            {{ range $index, $el := $tags }}
                <a
                    class="hover:text-indigo-500"
                    href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
                >
                    {{- . }}{{ if lt (add $index 1) (len $tags) }},{{ end -}}
                </a>
            {{ end }}
        </span>
    {{ end }}
</div>
