<header
    class="fixed bg-white z-20 w-full border-b border-gray-200 transition dark:border-gray-800 dark:bg-gray-900"
>
    <div
        class="container z-30 mx-auto flex max-w-xl items-center text-gray-600 dark:text-gray-200"
    >
        {{ $logo := resources.Get "imgs/logo.svg" | resources.Minify }}
        <a class="py-2" href="/" title="nsetyo.id logo">
            {{ $logo.Content | safeHTML }}
        </a>
        <nav class="flex flex-1 justify-end text-sm font-bold uppercase">
            {{ range .Site.Menus.navigation }}
                <a
                    class="ml-6 block hover:text-indigo-600 dark:hover:text-indigo-400"
                    href="{{ .URL }}"
                    title="{{ .Title }}"
                >
                    {{ .Name }}
                </a>
            {{ end }}
        </nav>
        <div class="ml-6 hidden" id="scheme-toggler">
            {{ $moon := resources.Get "imgs/moon.svg" | resources.Minify }}
            <button
                class="hover:text-indigo-600 dark:hover:text-indigo-400 dark:hidden"
                onclick="switchToDarkColorScheme()"
                title="Switch to dark-mode"
            >
                {{ $moon.Content | safeHTML }}
            </button>

            {{ $sun := resources.Get "imgs/sun.svg" | resources.Minify }}
            <button
                class="hidden hover:text-indigo-600 dark:hover:text-indigo-400 dark:inline"
                onclick="switchToLightColorScheme()"
                title="Switch to light-mode"
            >
                {{ $sun.Content | safeHTML }}
            </button>
        </div>
    </div>
</header>
