<script>
    let menutoggler = document.querySelectorAll('.menu-toggler');

    menutoggler.forEach(button => {
        button.addEventListener('click', e => {
            document.querySelector('#navigation nav').classList.toggle('hidden');

            menutoggler.forEach(a => a.classList.toggle('hidden'));

            e.preventDefault();
        });
    });

    document.addEventListener('scroll', () => {
        const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        const scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
        const scroll = scrollTop / (scrollHeight - document.documentElement.clientHeight) * 100;

        const header = document.querySelector('body > header');
        const progressbar = document.querySelector('#progress');

        progressbar.style.setProperty('--progress', scroll + '%');

        if (scroll > 0) {
            header.classList.add('shadow-sm')
        } else {
            header.classList.remove('shadow-sm')
        }
    });
</script>