{{- if .Params.noindex -}}
<meta name="robots" content="noindex">
{{- end -}}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{{- $desc := plainify (.Params.description | default .Summary | default .Site.Params.description) -}}

{{- if gt (len $desc) (.Site.Params.descLength | default 150) -}}
{{- $desc = substr $desc 0 (.Site.Params.descLength | default 150) -}}
{{- $desc = delimit (slice $desc "...") "" -}}
{{- end -}}

<meta name="description" content='{{ chomp $desc }}'>

{{- $canonicalurl := (.Permalink | absURL) -}}
{{- if (isset .Params "canonicalurl") -}}
{{- $canonicalurl = (.Params "canonicalurl") -}}
{{- else if (isset .Site.Params "canonicalurl") -}}
{{- if (isset .Params "url") -}}
{{- $canonicalurl = (delimit (slice .Site.Params.canonicalurl .Params.url ) "") -}}
{{- else -}}
{{- $canonicalurl = (delimit (slice .Site.Params.canonicalurl .RelPermalink ) "") -}}
{{- end -}}
{{- end -}}
<link rel="canonical" href='{{ $canonicalurl }}'>