<div
    class="
        dark:text-gray-400
        font-semibold
        mb-5
        mt-2
        not-prose
        text-gray-600
        text-xs
        tracking-wide
        uppercase
    "
>
    <span>
        <time datetime="{{ .Date }}">
            {{ .Date.Format "Mon, 2 January 2006" }}
        </time>
    </span>

    {{ $tags := .Params.tags }}
    {{ if $tags }}
        <span class="ml-1">
            Tags:
            {{ range $index, $el := $tags }}
                <a
                    class="hover:text-indigo-600 dark:hover:text-indigo-400"
                    href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
                >
                    {{- . }}{{ if lt (add $index 1) (len $tags) }},{{ end -}}
                </a>
            {{ end }}
        </span>
    {{ end }}
</div>
