{{ $image := .Get "src"  }}
{{ $link  := .Get "link" }}

{{- if (findRE "(^|:)//" $image) -}}
    {{ $image = $image }}
{{- else if (findRE "^/" $image) -}}
    {{ $baseurl_no_trailing_slash := site.BaseURL | replaceRE "/$" "" }}
    {{ $image = (delimit (slice $baseurl_no_trailing_slash $image) "")}}
{{- else -}}
    {{ $permalink_pretty := $.Page.RelPermalink | replaceRE "\\.html$" "/" }}
    {{ $image = (delimit (slice $permalink_pretty $image) "")}}
{{- end -}}

{{- if (findRE "(^|:)//" $link) -}}
    {{ $link = $link }}
{{- else if (findRE "^/" $link) -}}
    {{ $baseurl_no_trailing_slash := site.BaseURL | replaceRE "/$" "" }}
    {{ $link = (delimit (slice $baseurl_no_trailing_slash $link) "")}}
{{- else -}}
    {{ $permalink_pretty := $.Page.RelPermalink | replaceRE "\\.html$" "/" }}
    {{ $link = (delimit (slice $permalink_pretty $link) "")}}
{{- end -}}
<figure {{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{- if .Get "link" -}}
        <a href='{{ $link }}' {{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <img src='{{ $image }}'
         {{- if or (.Get "alt") (.Get "caption") }}
            alt='{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}'
         {{- end -}}
         {{- with .Get "width" }} width="{{ . }}"{{ end -}}
         {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    /> <!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <figcaption>
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
