@import "tailwindcss/base";
@import "hl";

.footnote-ref:before {
    content: "[";
    margin-left: 1px;
}

.footnote-ref:after {
    content: "]";
}

sup[id*="fnref:"] {
    scroll-margin-top: 5rem;
}