/** livvic-regular - latin */
/**
@font-face {
    font-family : 'Livvic';
    font-display: swap;
    font-style  : normal;
    font-weight : 400;
    src: url('/fonts/livvic-v2-latin/livvic-v2-latin-regular.eot'); /* IE9 Compat Modes *//**
    src: local('Livvic Regular'), local('Livvic-Regular'),
        url('/fonts/livvic-v2-latin/livvic-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 *//**
        url('/fonts/livvic-v2-latin/livvic-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers *//**
        url('/fonts/livvic-v2-latin/livvic-v2-latin-regular.woff') format('woff'), /* Modern Browsers *//**
        url('/fonts/livvic-v2-latin/livvic-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS *//**
        url('/fonts/livvic-v2-latin/livvic-v2-latin-regular.svg#Livvic') format('svg'); /* Legacy iOS *//**
} */

/* livvic-600 - latin */
@font-face {
    font-family : 'Livvic';
    font-display: swap;
    font-style  : normal;
    font-weight : 600;
    src: url('/fonts/livvic-v2-latin/livvic-v2-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Livvic SemiBold'), local('Livvic-SemiBold'),
        url('/fonts/livvic-v2-latin/livvic-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/fonts/livvic-v2-latin/livvic-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/livvic-v2-latin/livvic-v2-latin-600.woff') format('woff'), /* Modern Browsers */
        url('/fonts/livvic-v2-latin/livvic-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/fonts/livvic-v2-latin/livvic-v2-latin-600.svg#Livvic') format('svg'); /* Legacy iOS */
}
