@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "font-sourcesans.css";
@import "font-sourcecode.css";

@responsive {
    @variants hover, focus {
        .bg-primary {
            @apply .bg-indigo-600;
        }

        .border-primary {
            @apply .border-indigo-600;
        }

        .text-primary {
            @apply .text-indigo-600;
        }

        .bg-gray {
            @apply .bg-gray-600;
        }

        .border-gray {
            @apply .border-gray-600;
        }

        .text-gray {
            @apply .text-gray-600;
        }

        .text-default {
            @apply .text-gray-900;
        }
    }
}

/* purgecss ignore */
tt, code, kbd, samp { @apply .font-mono; }

/** Navigation Header ------------------------------------------------------- */
#progress {
    background: linear-gradient(
        to right,
        theme('colors.indigo.600') var(--progress),
        theme('colors.transparent') 0
    );
}

#navigation:target nav {
    @apply .block;
}

#navigation:target #showmenu {
    @apply .hidden;
}

#navigation:target #closemenu {
    @apply .flex;
}

/** Main Content ------------------------------------------------------------ */
.content a:hover {
    @apply .border-solid .text-primary .border-primary;
}

.content a {
    @apply .border-dotted .border-b .border-gray-900 .relative;
}

.content p {
    @apply .my-4;
}

.content hr {
    @apply .mb-2 .border-gray;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    @apply .mb-4 .mt-8 .font-semibold;
}

.content h1 {
    @apply .text-4xl;
}

.content h2 {
    @apply .text-3xl;
}

.content h3 {
    @apply .text-2xl;
}

.content h4 {
    @apply .text-xl;
}

.content h5 {
    @apply .text-lg;
}

.content h6 {
    @apply .text-base;
}

/** Content Header ------------------------------------------------------------ */
.content-header a {
    @apply .border-0;
}

/** Content Meta ------------------------------------------------------------ */
.content-meta a:hover {
    @apply .text-default .border-gray .border-dotted;
}

/** Content Body ------------------------------------------------------------ */
.content-body strong {
    @apply .font-semibold;
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
    @apply .block .-mt-16 .pt-16;
}

/** Content Body Images ----------------------------------------------------- */
.content-body figure {
    @apply .text-center .my-4 .bg-gray-200 .border;
}

.content-body figure img {
    @apply .mb-0 .mx-auto;
}

.content-body figcaption * {
    @apply .text-sm .font-normal .m-0 !important .text-gray-700 .my-2;
}

.content-body img {
    @apply .inline;
}

/** Content Body Blockquote ------------------------------------------------- */
.content-body blockquote {
    @apply .pl-4 .text-gray-600 .border-l-4 .mx-0 my-2;
}

/** Content Body List ------------------------------------------------------- */
.content-body ul, .content-body ol {
    @apply .mb-4 .pl-8;
}

.content-body ol {
    @apply .list-decimal;
}

.content-body ul {
    @apply .list-disc;
}

.content-body li {
    @apply .pl-1;
}

.content-body li p {
    @apply .mb-0;
}

/** Content Body Highlight -------------------------------------------------- */
.content-body .highlight, .content-body > pre {
    @apply .my-4 .font-mono;
}

.content-body > pre, .highlight > pre {
    @apply .p-4 .text-sm .overflow-x-auto .font-mono;
}

.content-body p  > code,
.content-body li > code {
    @apply .px-1 .text-sm .text-primary .bg-gray-100 .font-mono;
}

/** Content Body Table ------------------------------------------------------ */
.content-body table {
    @apply .mx-auto .max-w-full .w-full;
}

.content-body table td,
.content-body table th {
    @apply .border .p-2;
}

/** Content Body Demo ------------------------------------------------------- */

.content-body .demo {
    @apply .flex .border .p-4 .items-center .justify-center .bg-gray-100;
}

/* Footnotes ---------------------------------------------------------------- */
.content .footnote-ref {
    @apply .border-0;
}

.footnote-ref:before {
    content: "[";
    margin-left: 1px;
}

.footnote-ref:after {
    content: "]";
}

.footnotes {
    @apply .mt-8 .mb-4;
}

.footnotes ol {
    @apply .pl-4;
}

.footnotes li::before {
    @apply .block .-mt-16 .h-16 .invisible .bg-transparent;

    content: " ";
}

.footnotes li:target {
    @apply .text-black;
}