<div class="mt-16 sm:mt-20">
  <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
    {{ $rotations := slice "rotate-2" "-rotate-2" "rotate-2" "rotate-2" "-rotate-2" }}

    {{ range $k, $v := (sort (.Resources.ByType "image") "Name") }}
      <div
        class="relative aspect-9/10 w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl dark:bg-zinc-800 {{ index $rotations (mod $k ($rotations | len)) }}"
      >
        <img
          class="absolute inset-0 h-full w-full object-cover"
          src="{{ $v.RelPermalink }}"
          sizes="(min-width: 640px) 18rem, 11rem"
        />
      </div>
    {{ end }}
  </div>
</div>
