<div class="flex flex-col gap-16">
  {{ $pages := where site.RegularPages "Type" "posts" }}
  {{ $paginator := .Paginate $pages }}

  {{ range $paginator.Pages }}
    <article class="group relative flex flex-col items-start">
      <h2
        class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100"
      >
        <div
          class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl dark:bg-zinc-800/50"
        ></div>
        <a href="{{ .RelPermalink }}">
          <span
            class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"
          ></span>
          <span class="relative z-10">
            {{- .Title -}}
          </span>
        </a>
      </h2>
      <time
        class="relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-3.5"
        datetime="{{ .Date }}"
      >
        <span
          aria-hidden="true"
          class="absolute inset-y-0 left-0 flex items-center"
        >
          <span
            class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"
          ></span>
        </span>
        {{ .Date.Format "Monday, 2 January 2006" }}
      </time>
      <div
        class="relative z-10 *:mt-2 text-sm *:text-zinc-600 *:dark:text-zinc-400"
      >
        {{ .Summary }}
      </div>
      <div
        aria-hidden="true"
        class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500"
      >
        Read post
        {{ partial "svgs/svg-chevron-right.html" (dict "class" "ml-1 h-4 w-4 stroke-current") }}
      </div>
    </article>
  {{ end }}
  {{ $posts := dict "path" "/posts" }}
  <a
    class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-50 font-medium text-zinc-900 hover:bg-zinc-100 active:bg-zinc-100 active:text-zinc-900/60 dark:bg-zinc-800/50 dark:text-zinc-300 dark:hover:bg-zinc-800 dark:hover:text-zinc-50 dark:active:bg-zinc-800/50 dark:active:text-zinc-50/70 group mt-6 w-full"
    href="{{ .RelRef $posts }}"
    >Read more posts
  </a>
</div>
