---
import type { CollectionEntry } from 'astro:content'
import type { CollectionKey } from 'astro:content'

import { render } from 'astro:content'
import { Container } from '@/components/Container'
import { dateFormat } from '@/utilities'
import BaseLayout from './BaseLayout.astro'

type Props = CollectionEntry<CollectionKey>

const entry = Astro.props

const { title, date, description } = entry.data

const { Content } = await render(entry)
---

<BaseLayout title={title}>
	<Container className="mt-16 lg:mt-32 print:mt-0">
		<div class="xl:relative">
			<div class="mx-auto max-w-2xl">
				<article>
					<header class="flex flex-col">
						<h1 class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">
							{title}
						</h1>
						{
							date && (
								<time
									datetime={date.toISOString()}
									class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500"
								>
									<span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500" />
									<span class="ml-3">{dateFormat(date)}</span>
								</time>
							)
						}
					</header>
					<div class="prose dark:prose-invert mt-8">
						<Content />
					</div>
				</article>
			</div>
		</div>
	</Container>
</BaseLayout>
