<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{- partial "meta.html"       . -}}
    {{ $css := resources.Get "css/style.css" | resources.PostCSS | resources.Minify | resources.Fingerprint "sha256" }}

    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
    <link rel="icon" type="image/png" sizes="24x24" href='{{ "images/favicon.png" | relURL }}'>

    <title> {{ block "title" . }} {{ .Site.Title }} {{ end }}</title>

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>

<body class="font-sans text-default antialiased leading-tight {{.Kind}}">
    <header class="w-full fixed bg-white z-20">
        <div id="progress" class="w-full h-px opacity-50" style="--progress:0"></div>
        <div id="navigation" class="container pt-2 pb-3 max-w-xl flex items-center justify-between">
            {{- partial "header.html"     . -}}
        </div>
    </header>
    <main class="pt-16">
        <div class="container max-w-xl">
            {{- block "main" . -}} {{- end -}}
        </div>
    </main>
    <footer>
        <div class="container max-w-xl">
            <p class="text-center mt-12 mb-6 text-gray">
                {{ replace .Site.Copyright "{year}" now.Year }}
            </p>
        </div>
    </footer>
    {{- partial "javascripts.html" . -}}
</body>

</html>