<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="ie=edge" http-equiv="X-UA-Compatible" />

        {{ if .Params.noindex }}
            <meta content="noindex" name="robots" />
        {{ end }}
        {{ $desc := plainify (.Params.description | default .Summary | default .Site.Params.description) }}
        {{ if gt (len $desc) (.Site.Params.descLength | default 150) }}
            {{ $desc = substr $desc 0 (.Site.Params.descLength | default 150) }}
            {{ $desc = delimit (slice $desc "...") "" }}
        {{ end }}


        <meta content="{{ chomp $desc }}" name="description" />

        {{ $canonicalurl := .Permalink | absURL }}
        {{ if isset .Params "canonicalurl" }}
            {{ $canonicalurl = .Params "canonicalurl" }}
        {{ else if isset .Site.Params "canonicalurl" }}
            {{ if isset .Params "url" }}
                {{ $canonicalurl = (delimit (slice .Site.Params.canonicalurl .Params.url ) "") }}
            {{ else }}
                {{ $canonicalurl = (delimit (slice .Site.Params.canonicalurl .RelPermalink ) "") }}
            {{ end }}
        {{ end }}


        <link href="{{ $canonicalurl }}" rel="canonical" />

        {{ $fonts := resources.Get "css/fonts.css"  | resources.PostCSS | resources.Minify | resources.Fingerprint "sha256" }}
        <link
            as="style"
            href="{{ $fonts.RelPermalink }}"
            integrity="{{ $fonts.Data.Integrity }}"
            rel="preload stylesheet"
        />

        {{ $base := resources.Get "css/base.css"  | resources.PostCSS | resources.Minify | resources.Fingerprint "sha256" }}
        <link
            as="style"
            href="{{ $base.RelPermalink }}"
            integrity="{{ $base.Data.Integrity }}"
            rel="preload stylesheet"
        />

        {{ $css  := resources.Get "css/style.css" | resources.PostCSS | resources.Minify | resources.Fingerprint "sha256" }}
        {{ $options := dict "config" "nojs/postcss.config.js" }}
        {{ $nojs  := resources.Get "css/nojs.css" | resources.PostCSS $options | resources.Minify | resources.Fingerprint "sha256" }}
        <link
            as="style"
            href="{{ $css.RelPermalink }}"
            integrity="{{ $css.Data.Integrity }}"
            rel="preload stylesheet"
        />
        <noscript>
            <link
                as="style"
                href="{{ $nojs.RelPermalink }}"
                integrity="{{ $nojs.Data.Integrity }}"
                rel="preload stylesheet"
            />
        </noscript>

        {{ $favicon := resources.Get "imgs/favicon.png" | resources.Fingerprint "sha256" }}
        <link
            href="{{ $favicon.RelPermalink }}"
            rel="icon"
            sizes="24x24"
            type="image/png"
        />

        <link href="https://pegelinux.top/@nsetyo" rel="me" />

        <title>
            {{- if ne .Title .Site.Title -}}
                {{ .Title }}&nbsp;&ndash;&nbsp;{{ .Site.Title }}
            {{- else -}}
                Blog&nbsp;&ndash;&nbsp;{{ .Site.Title }}
            {{- end -}}
        </title>

        {{ range .AlternativeOutputFormats }}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
        {{ end }}
    </head>

    <body
        class="{{ .Kind }} bg-white font-sans leading-tight text-gray-900 antialiased dark:bg-gray-900 dark:text-white"
    >
        {{ partialCached "header.html" . }}
        <main class="container mx-auto max-w-xl pt-16">
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="container max-w-xl mx-auto flex mt-20 mb-6 text-sm">
            <div>
                {{ .Site.Copyright }}
            </div>
            <div class="ml-auto">
                <a
                    class="hover:text-indigo-600 dark:hover:text-indigo-400"
                    href="https://github.com/nsetyo"
                    >Github</a
                >
                <span> · </span>
                <a
                    class="hover:text-indigo-600 dark:hover:text-indigo-400"
                    href="https://gitlab.com/nsetyo"
                    >Gitlab</a
                >
            </div>
        </footer>
    </body>

    {{ $js := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint "sha256" }}
    <script
        defer
        integrity="{{ $js.Data.Integrity }}"
        src="{{ $js.RelPermalink }}"
        type="text/javascript"
    ></script>
</html>
