{{ define "main" }}
    <article class="prose dark:prose-invert">
        <h2 class="mt-12 font-extrabold text-center">
            {{ .Title }}
            Archive
        </h2>
        <ul class="list-none pl-0 mt-8 space-y-4">
            {{ range .Pages }}
                <li class="pl-0">
                    <span
                        class="block opacity-75 uppercase font-semibold text-xs tracking-wide"
                    >
                        <time datetime="{{ .Date }}">
                            {{ .Date.Format "Mon, 2 January 2006" }}
                        </time>
                    </span>
                    <a
                        class="font-bold no-underline hover:text-indigo-500"
                        href="{{ .RelPermalink }}"
                    >
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </article>
{{ end }}
