{{ define "title" }}
    {{ .Title }}&nbsp;&ndash;&nbsp;{{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <article
        class="
            dark:hover:prose-a:text-indigo-400
            dark:prose-invert
            hover:prose-a:text-indigo-600
            leading-normal
            mt-12
            prose
        "
    >
        {{ if not .Params.hideContentTitle }}
            <h1 class="m-0">{{ .Title }}</h1>
        {{ end }}


        <div class="content-body leading-relaxed">{{ .Content }}</div>
    </article>
{{ end }}
