{{- define "title" -}}
{{ .Title }} &ndash; {{ .Site.Title }}
{{- end -}}

{{- define "main" -}}
<section class="mt-12 leading-normal">
    <h4 class="mb-12 text-gray font-semibold text-sm tracking-wide text-center uppercase">
        <a class="border-b border-dotted border-gray hover:text-default hover:border-gray-900"
            href="{{ .Data.Plural | relURL }}">
            {{ humanize .Data.Singular }}
        </a>: {{ .Title }}
    </h4>
    {{ range .Paginator.Pages }} {{ .Render "summary" }} {{ end }}
</section>
{{- partial "pagination.html" . -}}
{{- end -}}