<p>
    {{ $image := .Page.Resources.GetMatch .Destination }}
    {{ if $image }}
        {{ $image := $image.Resize "544x webp q100" }}
        <img
            class="border rounded-md"
            {{ with .Title }}title="{{ . }}"{{ end }}
            alt="{{ .Text }}"
            height="{{ $image.Height }}"
            src="{{ $image.RelPermalink }}"
            width="{{ $image.Width }}"
        />
    {{ else }}
        <img
            class="border rounded-md"
            {{ with .Title }}title="{{ . }}"{{ end }}
            alt="{{ .Text }}"
            src="{{ .Destination | safeURL }}"
            width="100%"
        />
    {{ end }}
</p>
